<div class="resultHolder">
    <a download="{{collageTitle}}.jpg" href="/getCollage/{{collageTitle}}/{{collageStyle}}" title="Download Image">
    <img class="collageImg" src="/getCollage/{{collageTitle}}/{{collageStyle}}" />
    </a>
   
</div>